
.WelcomeHeader {
    display: flex;
    justify-content: center;

    &-Container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1060px;
        height: 80px;
    }

    &-Navigation { flex: 1; }

    &-LogoContainer {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    &-Logo {
        width: 195px;
        height: 40px;
        object-fit: contain;
    }

    &-Buttons {
        flex: 1;
        text-align: right;

        .Button + .Button { margin-left: 15px; }
    }
}
