@import '../../../assets/styles/vars';

.WelcomeGames {
    padding-top: 20px;
    margin-bottom: 55px;

    &-Head {
        position: relative;
        margin-bottom: 50px;
        text-align: center;

        .Title > .Text > span { color: $color-green; }
    }

    &-Icon {
        position: absolute;
        width: 38px;
        height: 38px;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }

    &-List .Scroller-Items { padding: 0 50px; }
}
