/* TYPOGRAPHY
   =============================================== */

/* COLORS
   =============================================== */

$color-bg: #5c6199;
$color-text: #fff;
$color-accent: #fdf04e;
$color-green: #a7ed7b;
$color-blue: #14c5ef;
$color-red: #ff6767;
$color-primary: #8096d0;

/* OTHER
   =============================================== */

$nice-ease: cubic-bezier(0.62, 0.28, 0.23, 0.99);
